@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    background-color: #F4F4F4;
}

:root {
    font-size: 16px;
}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

.blue {color: #3764ED;}

.container {
    width: 100%;
    padding: 0 2%;
    display: block;
    margin: 0 auto;
    max-width: 1500px;
}