header {
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

div.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

nav.desktop ul {
    display: flex;
    list-style-type: none;
}

nav.desktop ul li {
    margin-right: 30px;
}

nav.desktop ul li a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
    font-size: 1rem;
}

nav.desktop ul li a:hover {
    color: #3764ED;
}

/*Banner*/

div.banner {
    margin: 0px auto;
    text-align: center;
    padding: 80px 0 80px 0;
}

div.banner p {
    font-size: 1.2rem;
}

div.banner p strong {
    font-size: 1.5rem;
}

div.banner div.image {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0px auto 30px auto;
    padding-top: 10px;
    border-radius: 50%;
    background-image: url('../assets/eu.png');
    background-size: contain;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

/* FORMAÇÕES SECTION */

section.formacoes {
    margin-top: 20px;
}

section.formacoes div.titulo {
    width: 250px;
    padding: 8px 0px;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid #3764ED;
}

div.card-box {
    margin-top: 50px;
}

div.card {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.right-card {
    text-align: right;
}

div.card .text-side {
    width: 40%;
}

div.card .text-side h3 {
    font-weight: normal;
}

div.card .text-side p {
    margin-top: 20px;
}

div.card .image-side {
    width: 40%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.front {background-image: url(../assets/Open\ source-cuate.svg);}
.back {background-image: url(../assets/Server-amico.svg);}
.sc {background-image: url(../assets/Printed\ circuit\ board-cuate.svg);}
.eng {background-image: url(../assets/Software\ engineer-bro.svg);}

/*COMPETÊNCIAS SECTION*/

div.comp-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0px;
    align-items: center;
    justify-content: center;
}

div.comp-single {
    width: calc((100% / 3) - 2%);
    padding: 50px 50px 20px 50px;
    background-color: #fff;
    margin: 1%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

div.comp-single .image {
    height: 250px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.html {background-image: url(../assets/icons8-html5-500.png);}
.css {background-image: url(../assets/icons8-css3-500.png);}
.js {background-image: url(../assets/icons8-javascript-500.png);}
.php {background-image: url(../assets/icons8-logo-php-500.png);}
.mysql {background-image: url(../assets/icons8-maria-db-480.png);}
.nodejs {background-image: url(../assets/icons8-nó-js-500.png);}

div.comp-single h3 {
    font-weight: bold;
    text-align: center;
}

/*CONTATO SECTION*/

div.box-contato {
    display: flex;
    align-items: top;
    padding: 30px 40px;
    margin: 60px 0px;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

div.box-contato .image-side {
    width: 50%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/eu.png);
}

div.box-contato .info-side {
    width: 45%;
}

div.box-contato .info-side .top {
    border-bottom: 2px solid #3764ED;
    padding-bottom: 100px;
}

div.box-contato .info-side .top h1 {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

div.box-contato .info-side .top h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

div.box-contato .info-side .top p {
    margin-bottom: 30px;
}

div.social {
    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

div.social .medias {
    display: flex;
    width: calc(100% / 2); /*33,333*/
}

div.social .medias > div {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-image: url(../assets/icons8-linkedin-100\ full.png);
}

div.social .medias .github {
    background-image: url(../assets/icons8-github-100.png)
}

div.social .medias .whatsapp {
    background-image: url(../assets/icons8-whatsapp-100.png)
}

div.social .button {
    width: 40%;
    padding: 20px;
    text-align: center;
    background-color: #3764ED;
    box-shadow: 0px 4px 10px 0px #3764ED;
}

div.social .button a {
    width: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/*FOOTER*/

footer {
    width: 100%;
    padding: 40px;
    background-color: #3764ED;
}

footer h1.logo {
    color: white;
}

footer p {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

footer > div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*MEDIA SCREEN (RESPONSIVE DESIGN)*/

@media screen and (max-width: 1024px) {
    div.menu {
        display: block;
        text-align: center;
    }

    nav.desktop {
        display: none;
    }

    div.card {
        display: block;
    }
    
    div.card .text-side {
        width: 100%;
    }

    div.text-side h3,
    div.text-side p {
        text-align: center;
    }

    div.image-side {
        display: none;
    }

    div.comp-box {
        display: block;
    }

    div.comp-single {
        width: 60%;
        margin: 50px auto;
    }

    div.comp-single .image {
        height: 250px;
        margin-bottom: 20px;
        margin: 0px auto 20px auto;
        max-width: 500px;
    }

    div.box-contato {
        display: block;
        text-align: center;
    }

    div.box-contato .image-side {
        display: none;
    }

    div.box-contato .info-side {
        width: 100%;
    }

    div.social {
        width: 100%;
        display: flex;
        margin-top: 30px;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    div.comp-single {
        width: 100%;
        margin: 50px auto;
    }

    div.social {
        display: block;
    }

    div.social .medias {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 60px 0px;
    }

    div.social .medias > div {
        background-position: center;
    }

    div.social .button {
        width: 100%;
    }

    footer div.container {
        text-align: center;
        display: block;
    }

    footer h1 {
        margin-bottom: 30px;
    }
}