header {
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

div.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

nav.desktop ul {
    display: flex;
    list-style-type: none;
}

nav.desktop ul li {
    margin-right: 30px;
}

nav.desktop ul li a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
    font-size: 1rem;
}

nav.desktop ul li a:hover {
    color: #3764ED;
}

/*Banner*/

div.banner {
    margin: 0px auto;
    text-align: center;
    padding: 80px 0 80px 0;
}

div.banner p {
    font-size: 1.2rem;
}

div.banner p strong {
    font-size: 1.5rem;
}

div.banner div.image {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0px auto 30px auto;
    padding-top: 10px;
    border-radius: 50%;
    background-image: url('../assets/eu.png');
    background-size: contain;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

/* FORMAÇÕES SECTION */

section.formacoes {
    margin-top: 20px;
}

section.formacoes div.titulo {
    width: 250px;
    padding: 8px 0px;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid #3764ED;
}

div.card-box {
    margin-top: 50px;
}

div.card {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    justify-content: space-between;
    margin: 60px 0px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.right-card {
    text-align: right;
}

/*efeito de "pulo"*/

div.card .text-side {
    width: 40%;
}

div.card .text-side h3 {
    font-weight: normal;
}

div.card .text-side p {
    margin-top: 20px;
}

div.card .image-side {
    width: 40%;
    height: 200px;
    background-color: #ccc;
}

/*COMPETÊNCIAS SECTION*/

div.comp-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0px;
    align-items: center;
    justify-content: center;
}

div.comp-single {
    width: calc((100% / 3) - 2%);
    padding: 50px 50px 20px 50px;
    background-color: #fff;
    margin: 1%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

div.comp-single .image {
    background-color: #ccc;
    height: 250px;
    margin-bottom: 20px;
}

div.comp-single h3 {
    font-weight: bold;
    text-align: center;
}

/*MEDIA SCREEN (RESPONSIVE DESIGN)*/

@media screen and (max-width: 1024px) {
    div.menu {
        display: block;
        text-align: center;
    }

    nav.desktop {
        display: none;
    }

    div.card {
        display: block;
    }
    
    div.card .text-side {
        width: 100%;
    }

    div.text-side h3,
    div.text-side p {
        text-align: center;
    }

    div.image-side {
        display: none;
    }

    div.comp-box {
        display: block;
    }

    div.comp-single {
        width: 60%;
        margin: 50px auto;
    }

    div.comp-single .image {
        background-color: #ccc;
        height: 250px;
        margin-bottom: 20px;
        margin: 0px auto 20px auto;
        max-width: 500px;
    }
}

@media screen and (max-width: 600px) {
    div.comp-single {
        width: 100%;
        margin: 50px auto;
    }
}